global

 pidfile /usr/local/vamp/haproxy.pid
 server-state-file /usr/local/vamp/haproxy_server_state

 log 127.0.0.1:514 local0
 stats socket /usr/local/vamp/haproxy.sock expose-fd listeners

 daemon
 nbproc 1
 user root
 group root
 maxconn 4096
 spread-checks 5

 defaults
   log global
   mode http
   option dontlognull
   option redispatch
   option clitcpka
   option srvtcpka
   option http-keep-alive

   retries 3
   maxconn 500000

   # slowloris protection: clients should send their full http request in the configured time
   timeout http-request 5s
   timeout connect 5s
   timeout client 50s
   timeout server 50s
   timeout check 5s

listen stats
   bind :1988
   mode http
   monitor-uri /health
   stats enable
   stats uri /
   stats refresh 5s
   stats realm Haproxy\ Stats
   stats auth haproxy:haproxy

